#footer {
  width: 100%;
  padding: $grid8x 0;
  margin-top: $grid8x;
  border-top: $texteee 1px solid;

  .footer__container {
    width: 960px;
    margin: 0 auto;
    text-align: center;

    .footer__sns {

      .footer__sns--link {
        color: $text999;
        padding: $grid4x;
        transition: color .25s ease;
        @include font-size($grid6x);

        &:hover {
          color: $text333;
        }

        &#fbIcon {

          &:hover {
            color: $fbIcon;
          }
        }

        &#igIcon {

          &:hover {
            color: $igIcon;
          }
        }

        &#ghIcon {

          &:hover {
            color: $ghIcon;
          }
        }
      }
    }

    .footer__copyright {

      .footer__copyright--text {
        @include font-size($grid3x);
      }
    }
  }
}
