#header {
  top: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  height: $grid14x;
  align-items: center;
  background-color: #fff;
  @include box-shadow($grid2x, $grid3x);

  .header__container {
    width: 960px;
    margin: 0 auto;

    .header__logo {
      float: left;

      .header__logo--img {
        cursor: pointer;
        width: $grid10x;
        height: $grid10x;
        padding: $grid2x 0;
      }
    }

    .header__link {
      float: right;

      .header__link--each {
        display: inline-block;
        padding: $grid4x 0 $grid4x $grid4x;

        &:not(:last-child) {
          padding: $grid4x;
        }

        @media #{$pablet} {
          padding-left: $grid2x;

          &:not(:last-child) {
            padding: $grid4x $grid2x;
          }
        }
      }
    }
  }
}
