#home,
#about,
#contact {
  margin: $grid16x auto !important;
  padding-top: $grid12x !important;

  // .alt__container {
  //   width: 960px;
  //   margin: 0 auto;
  // }
}

.home__grid {
  margin: -#{$grid12x} auto $grid16x !important;
}
