#home {

  .home__grid {
    @include grid-layout();

    @media #{$landsc} {
      grid-template-columns: repeat(2, 1fr);
    }

    .home__grid--list {

      .home__grid--img {
        max-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .5s ease;
        border: 1px solid $texteee;
        @include grid-layout();
        @include border-radius();

        &:hover {
          border: 1px solid transparent;
          @include box-shadow();
        }
      }
    }
  }
}
