#plusfriend-addfriend-button {
    right: 16px;
    width: 56px;
    height: 56px;
    bottom: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    border-radius: 56px;
    background-image: url("/assets/img/posts/kakao.svg");

    &:hover {
        border: none;
        outline: none;
    }
}